<div class="flex flex-row gap-2">
    <div class="relative    rounded-t-lg  w-20 h-25">

        <img class="  top-0 left-0 w-full h-full object-cover"
             src="/img/book1.jpg"
             alt="Book cover image" />
    </div>
    <div class="relative    rounded-t-lg  w-20 h-25">

        <img class="  top-0 left-0 w-full h-full object-cover"
             src="/img/book1.jpg"
             alt="Book cover image" />
    </div>
</div>

@code {

}
