
@rendermode InteractiveServer
@attribute [StreamRendering]



<header class="top-row px-4 bg-red-500">
    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
</header>
@code {

    


}